body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

#addy {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
		0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#fetch {
    text-align: center;
}

#fetch button {
    font-size: 2em;
    margin: 1em auto;
}

#addy h1 {
    font-size: 75px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 10px;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

#user-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-list {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

#user-list li:last-child {
    border-bottom: none;
}

#user-list li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

#user-list label:hover, #showing {
    display: block;
    background-color: #ededed;
    cursor: pointer;
}

#contact label {
    display: inline-block !important;
    width: 50px;
}

#contact p {
    font-size: 14px;
    margin: 0;
}
